* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playwrite GB J", cursive;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gap-5 {
  gap: 5rem;
}

.app-container {
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
}

.strike-through {
  text-decoration: line-through;
}

.as-it-is {
  text-decoration: none;
}